*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}


.film-container{
  position: relative;
  width: 50%;
}

/*home*/

.grow {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  width: 190px;
  margin: 5px 1% 5px 1%;
  float: left;
  height:270px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}
.grow:hover {
  height: 350px;
}

.hoverdrop-title{
	border-bottom-style: solid;
	border-bottom-color: green;
	border-bottom-width: 2px;
	box-shadow: 0 8px 6px -6px #999;
}

/* addfilm.hbs */

.container-body{
  margin: 0px 170px 50px 50px;
  padding: 50px;
  border-radius: 2px;
  border: 1px solid gray;
}

.col{
  margin-top: 16px;
}

.submit-btn{
  background-color: #00D874;
  color: #004022;
  border-color: #004022;
  width: 72px;
  padding: 2px;
}

/* .submit-btn:hover{
  background-color: #004022;
  color: #00D874;
  border-color: #00D874;
} */

.file-upload{
  width: 100%;
  font-size: 10px;
}

.review-text{
  width: 50px;
}

/* film.hbs */

.films {
  padding-left: 200px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 150px;
}

white-btn{
  border-radius: 3px;
  border: 4px solid darkgreen;
  width: 180px;
}

img{
  border-radius: 3px;
  border: 4px solid darkgreen;
}

img:hover{
  border: 4px solid #00D874;
}

.checked, .numerical-rating{
  color: orange;
}

.unchecked{
  color: darkgray;
}

.card{
  border: 0px solid red;
  margin-left: 50px;
}

.btn {
  font-size: 15px;
  padding: 8px;
  width: 50%;
  background-color: #00D874;
  border: 2px solid #004022;
  color: #004022;
}

.btn:hover{
  background-color: #004022;
  border-color: #00D874;
  color: #00D874;
}

.btn-create-review {
  font-size: 15px;
  padding: 8px;
  background-color: #00D874;
  border: 2px solid #004022;
  color: #004022;
}

.btn-create-review:hover{
  background-color: #004022;
  border-color: #00D874;
  color: #00D874;
}

.btn-view-review {
  font-size: 15px;
  padding: 8px;
  background-color: #00D874;
  border: 2px solid #004022;
  color: #004022;
}

.btn-view-review:hover{
  background-color: #004022;
  border-color: #00D874;
  color: #00D874;
}

.img-display{
  /* width: 100px; */
  height: 280px;
}

/* home.hbs */
.card-img-top{
  margin-bottom: 50px;
  width: 180px;
  height: 260px;
  box-shadow: 0 8px 6px -6px #999;
}

/* profile.hbs */
.profile-column{
	float: left;
}

.profile-row1{
	float: left;
	width: 25%;
	padding-bottom: 500px;
}

.profile-name{
	padding-top: 10px;
	font-weight: 700;
	font-size: 25px;
}

.black{
	color: black;
}
#rating-count{
	padding-top: 4px;
	padding-bottom: 8px;
	border-bottom-style: solid;
	border-bottom-color: green;
	border-bottom-width: 2px;
	box-shadow: 0 8px 6px -6px #999;
}
#review-count{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-style: solid;
	border-bottom-color: green;
	border-bottom-width: 2px;
	box-shadow: 0 8px 6px -6px #999;
}
#movies-added{
	padding-top: 8px;
	padding-bottom: 4px;
}

.profile-row2{
	float: left;
	width: 75%;
}

.description-content{
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 12px;
}
.content-splitter{
	margin-left: 12.5%;
	margin-right:12.5%;
	margin-top: 80px;
	margin-bottom: 40px;
}

.content-box{
	margin-top: 10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	box-shadow: 1px 1px 6px;
	padding: 10px;
	background-color: white;
	color: gray;
}

/* review.hbs */

.container-fluid-body{
  margin: 0px 170px 50px 50px;
  padding: 50px;
  border-radius: 2px;
  border: 1px solid gray;
}

.img-review{
  border-radius: 3px;
  border: 4px solid darkgreen;
  width: 132px;
}

.img-review:hover{
  border: 4px solid #00D874;
}

.modal-body{
  background-color: #004022;
  width: 58%;
  height: 290px;
  margin-left: 185px;
}

.star-widget input {
  display: none;
}
